<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Humanity in a Changing Climate</h2>
                </div>
            </div>
            <div class="row container">
                <style>
                .video {
                position:relative;
                padding-bottom: 56.25%;
                height:0;
                overflow:hidden;
                align: middle;
                }
                .video iframe, .video object, .video embed {
                position: absolute;
                margin: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                }
                </style>
                <p>The Thinkathon “Humanity in a Changing Climate” is an interdisciplinary, intense working and exchange format at the intersection of social / cognitive / behavioral and environmental / climate / sustainability sciences.<p>
                  
                  <p>The word <i>Thinkathon</i> alludes to the fact that the challenges provided do not solely rely on computer-based, hacking methods, but also involve more conceptual approaches (cognitive psychology, behavioral science, philosophy). However, there will be at least one data science / AI challenge.</p>
                  
                  <p>The goal of the Thinkaton is to explore promising new interdisciplinary research fields (and spark conversation!) between the disciplines involved. It is a scientific collaboration between the <a href="https://www.ikw.uni-osnabrueck.de/en/home.html" target=_blank>Institute of Cognitive Science</a> and the <a href="https://www.usf.uni-osnabrueck.de/en/homepage.html" target=_blank>Institute for Environmental Systems Research</a> at the University of Osnabrück and the <a href="https://www.pik-potsdam.de/en" target=_blank>Potsdam Institute for Climate Impact Research</a>. It will take place on the first weekend of December in an online format. You can register below!</p>

                 <center><a href="https://forms.gle/nrrnJFcCcrA4oCrS8" target="_blank" class="page-scroll btn btn-xl">Register Here</a></center>
            </div>
        </div>
    </section>